{% extends 'user/base.html' %}
{% load static %}
{#{% load staticfiles %}#}

{% block content %}
    <div class="login_top clearfix">
        <a href="{% url 'index_1' %}" class="login_logo">
            <img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">购书 · 来尚书城</div>

            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>找回密码</h1>
                    <a href="{% url 'register' %}">立即注册</a>
                </div>
                <div class="form_input">
                    <form method="post" action="{% url 'forget' %}">
                        {% csrf_token %}
                        <input type="text" id="username" name="username" class="name_input" placeholder="请输入用户名">
                        <div class="user_error">{{ msg }}</div>
                        <input type="email" id="email" name="email" class="pass_input" placeholder="请输入邮箱">
                        <div class="more_input clearfix">
                            <a href="{% url 'login' %}">>>>去登录</a>
                        </div>
                        <input type="submit" name="" value="找回密码" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $('.input_submit').click(function () {
            //获取用户名 邮箱
            var username = $('#username').val();
            var email = $('#email').val();
            var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
            // alert(username + email);
            if (username.length > 0 && email.length > 0) {
                params = {
                    "username": username,
                    "email": email,
                    "csrfmiddlewaretoken": csrfmiddlewaretoken,
                };
                //提交数据
                $.post('/user/check/username/', params, function (data) {
                    if (data.code == 3) {
                        //alert("ok");
                    } else {
                        alert(data.msg);
                        $('#username').next().html(data.msg);
                        $('#username').next().show();
                    }
                })
            } else {
                alert("用户名和邮箱不能为空！")
            }
        })
    </script>

{% endblock %}